<div *ngFor=" let item of students" [ngClass]="{'bg-color':item.age<27}">
  <ng-container *ngIf="item.age>25">
    <h1>{{item.nom}}</h1>
    <p>{{item.prenom}}</p>
  </ng-container>
</div>

<!--<div [ngStyle]="{'background-color':user.color}">
  <h1>{{user.name}}</h1>
</div>-->
<!--<div [ngSwitch]="color">
  <p *ngSwitchCase="'red'">red</p>
  <p *ngSwitchCase="'blue'">blue</p>
  <p *ngSwitchCase="'yellow'">yellow</p>
</div>
<img [src]="imageURL" alt="" *ngIf="display==true">
<button (click)="display=!display">clique me</button>
<h1 *ngFor="let car of cars">{{car}}</h1>
<div *ngFor=" let item of students">
  <ng-container *ngIf="item.age>25">
  <h1>{{item.nom}}</h1>
  <p>{{item.prenom}}</p>
  </ng-container>
</div>-->
<!--
<p *ngIf="display==true">first works!</p>
-->
<!--<h1>{{name}}</h1>-->
<!--<img [src]="imageURL" alt="">
<button (click)="name='faho'">clique me</button>;
<button (click)="change()">clique me</button>
<br>
<input type="text" [(ngModel)]="text">
<p>{{text}}</p>-->
